@using Blog.Models;
@model Tuple<Topic,ForMasterPage>
@{
    Layout = "~/Views/MainPage.cshtml";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<nav>
    <div class="container">
        <div id="menu">
            @Html.Partial("TopMenu", Model.Item2);
        </div>
        <a id="menu-toggle" href="#" class=" ">&#9776;</a>
    </div>
</nav>
<header>
    <div class="container">
        <h2 class="docs-header"> Blog about Embedded system</h2>
    </div>
</header>
<section>

    @Html.Partial("Admin"); 


    <div class="docs-content">
        <h2>New topic</h2>

        <form method="post" action="~/Admin/Create" id="Edit-form">
            <p><b>Name topic</b></p>
            <p><input type="text" name="NameTopic" id="NameTopic" /></p>    
                    
            <p><b>Text topic</b></p>  
            @if (Model.Item1.ContextTopic != null)
            {
                <p><textarea rows="15" cols="100" name="ContextTopic" id="ContextTopic">@Model.Item1.ContextTopic </textarea></p>
            } 
            @if (Model.Item1.ContextTopic == null)
            {
                <p><textarea rows="15" cols="100" name="ContextTopic" id="ContextTopic"></textarea></p>
            }   
            <p><input type="submit" value="Create"></p>

            
        </form>


        <form id="GetContext" method="post" action="~/Topic/GetContext">
            <p><b>Url site with data</b></p>
            <p><input type="text" id="urlSite" name="urlSite" /></p>
            <p><input type="submit" value="Get context"></p>
        </form>
    </div>
</section>



    <script>

        $(function () {
            $("#Edit-form").validate({

                rules: {
                    NameTopic: {
                        required: true
                    },
                    ContextTopic: {
                        required: true
                    }
                }
            });
        });

        $(function () {
            $("#GetContext").validate({

                rules: {
                    urlSite: {
                        required: true,
                        url: true
                    }
                }
            });
        });
       
    </script>
