@using Blog.Models;
@model  ForMasterPage
@{
    Layout = "~/Views/MainPage.cshtml";
    Culture = UICulture = Model.Language;
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<nav>
    <div class="container">
        <div id="menu">
            @Html.Partial("TopMenu", Model);
        </div>
        <a id="menu-toggle" href="#" class=" ">&#9776;</a>
    </div>
</nav>
<header>
    <div class="container">
        <h2 class="docs-header"> @Resources.Home.BlogName</h2>
    </div>
</header>
<section>
    @Html.Partial("Admin");    
</section>