@using System.Drawing;
@using Blog.Models;
@using Blog.Models.AuthModel;

@model  Tuple<Registred, ForMasterPage>


@{
    Layout = "/Views/MainPage.cshtml";
}
<nav>
    <div class="container">
        <div id="menu">
            @Html.Partial("TopMenu", Model.Item2);
        </div>
        <a id="menu-toggle" href="#" class=" ">&#9776;</a>
    </div>
</nav>
<header>
    <div class="container">
        <h2 class="docs-header"> Blog about Embedded system</h2>
    </div>
</header>
<section>

    
    <div class="docs-content">
        <form method="post" action="~/Home/Registration" onsubmit="return validate(this)">
            <h2>Registration</h2>
            @Html.AntiForgeryToken()
            <table border="0">
                <tr>
                    <td>
                        <h4 class="toplinks">Filling fild for create account</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4> Name </h4>
                        <input name="FirstName" id="FirstName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4> Second name </h4>
                        <input name="SecondName" id="SecondName" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4> Login </h4>
                        <input name="Login" id="Login" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4> Password </h4>
                        <input name="Password" id="pass" type="password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4> Confirm password </h4>
                        <input name="ConfirmPassword" id="confirmPass" type="password" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Create account" />
                    </td>
                </tr>
            </table>
        </form>
    </div>






    <script>
   
     function validate(form) {
         var elems = form.elements;

         resetError(elems.FirstName.parentNode);
         if (elems.FirstName.value == "") {
             showError(elems.FirstName.parentNode, ' Enter name');
             return false;
         }
         resetError(elems.SecondName.parentNode);
         if (elems.SecondName.value == "") {
             showError(elems.SecondName.parentNode, ' Enter second name ');
             return false;
         }
         resetError(elems.Login.parentNode);
         if (elems.Login.value == "") {
             showError(elems.Login.parentNode, 'Enter login');
             return false;
         }
         resetError(elems.pass.parentNode);
         if (elems.pass.value == "") {
             showError(elems.pass.parentNode, ' Enter password');
             return false;
         }
         resetError(elems.confirmPass.parentNode);
         if (elems.confirmPass.value == "") {
             showError(elems.confirmPass.parentNode, 'confirm password');
             return false;
         }
         resetError(elems.confirmPass.parentNode);
         if(elems.confirmPass.value != elems.pass.value ){
             showError(elems.confirmPass.parentNode, 'password don`t confirm');
             return false;
         }



     }
        
    function showError(container, errorMessage) {
        container.className = 'error';
        var msgElem = document.createElement('span');
        msgElem.className = "error-message";
        msgElem.innerHTML = errorMessage;
        container.appendChild(msgElem);
    }

    function resetError(container) {
        container.className = '';
        if (container.lastChild.className == "error-message") {
            container.removeChild(container.lastChild);
        }
    }


    </script>

 </section>






   
