@using System.Drawing;
@using Blog.ViewModels;

@model   GoldViewModel
@{
    Layout = "/Views/MainPage.cshtml";
    Culture = UICulture = Model.MasterPage.Language;
}
<nav>
    <div class="container">
        <div id="menu">
            @Html.Partial("TopMenu", Model.MasterPage);
        </div>
        <a id="menu-toggle" href="#" class=" ">&#9776;</a>
    </div>
</nav>
<header>
    <div class="container">
        <h2 class="docs-header"> @Resources.Home.BlogName</h2>
    </div>
</header>
<section>
    <h2>@Model.UserName  @Resources.Home.Gold</h2>
</section>