<div id="main">
    <div id="picture">
        <h4> Administrator part</h4>
    </div>
    <div id="button">
        <a href="~/Home/Create">
            <h4> Add topic</h4>
        </a>
        <a href="~/Home/Edit">
            <h4> Change topic </h4>
        </a>
        <a href="~/Home/Delete">
            <h4> Delete topic </h4>
        </a>
        <a href="~/Home/ChangeRole">
            <h4> Change user role </h4>
        </a>
    </div>
</div>
