@using Blog.Models
@model ForMasterPage
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>

<ul class="toplinks">
    <li><a href="~/Home/Me">About me</a></li>
    <li><a href="~/Home/Index">Blog</a></li>
    @if (!Model.UserAuthorisaed)
    {
        <li><a href="~/Authentication/Register">Registration</a></li>
        <li><a href="~/Authentication/Login">Login</a></li>
    }
    @if (Model.UserAuthorisaed)
    {
        <li><a href="~/Authentication/LogOff">Log Off </a></li>
        <li><a href="~/Account/UserProfile">Your profile </a></li>
    }
    @if (Model.UserRole == "admin")
    {
        <li><a href="~/Admin/AdminIndex"> To admin page </a></li>
    } 
    @if(Model.UserRole == "gold")
    {
        <li><a href="~/Home/Gold"> To GOLD page </a></li>
    }  
    @if(!Model.UserAuthorisaed){
        <li><a href="#"> @Model.UserName </a> </li>  
    } 
    @if(Model.UserAuthorisaed){
        <li><a href="~/Account/UserProfile"> @Model.UserName </a> </li>  
    }  
            
            
</ul>
     